<app-error-modal (close)="toggleErrorModal()" *ngIf="showErrorModal">
  <h1>Error</h1>
  <p>Haz cometido los siguientes errores. Intenta nuevamente.</p>
  <ul>
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>
</app-error-modal>
<div class="container">
  <h1>{{ showMovieForm ? "Asociar nueva película a sala" : "Asociar película existente a sala" }}</h1>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-secondary my-btn" (click)="toggleMovieForm()">
      {{ showMovieForm ? "Película Existente" : "Nueva Película" }}
    </button>
    <button
      class="btn btn-primary btn-block"
      type="submit"
      value="Asociar Pelicula"
      (click)="onSubmit()"
    >
      Asociar Pelicula
    </button>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="">
      <div *ngIf="showMovieForm; else existingMovie" class="movie-form mb-3">
        <div class="mb-3">
          <label class="form-label" for="name">Titulo</label>
          <input
            class="form-control"
            type="text"
            name="name"
            id="name"
            [(ngModel)]="name"
            placeholder="Titulo de la pelicula"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="description">Descripción</label>
          <input
            class="form-control"
            name="description"
            id="description"
            [(ngModel)]="description"
            placeholder="Descripción de la pelicula"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="image">Imagen</label>
          <input
            class="form-control"
            type="text"
            name="image"
            id="image"
            [(ngModel)]="image"
            placeholder="URL de la imagen"
          />
        </div>
      </div>
      <ng-template #existingMovie>
        <div class="mb-3">
          <label class="form-label" for="movie">Biblioteca</label>
          <select
            class="form-control"
            name="movie"
            id="movie"
            [(ngModel)]="movieId"
          >
            <option value="-1">- Seleccione una película -</option>
            <option *ngFor="let movie of movies" [ngValue]="movie.id">
              {{ movie.name }}
            </option>
          </select>
        </div>
      </ng-template>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label class="form-label" for="roomId">Sala</label>
        <select
          class="form-control"
          name="roomId"
          id="roomId"
          [(ngModel)]="roomId"
        >
          <option value="-1">- Seleccione una sala -</option>
          <option *ngFor="let room of rooms" [ngValue]="room.id">
            {{ room.id }}
          </option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="start">Hora de Inicio</label>
        <div class="input-group mb-3">
          <input
            name="startTimeHour"
            id="startTimeHour"
            type="number"
            min="0"
            max="23"
            class="form-control"
            placeholder="00"
            aria-label="Username"
            [(ngModel)]="startTimeHour"
          />
          <span class="input-group-text">:</span>
          <input
            name="startTimeMinute"
            id="startTimeMinute"
            type="number"
            min="0"
            max="59"
            class="form-control"
            placeholder="00"
            aria-label="Server"
            [(ngModel)]="startTimeMinute"
          />
        </div>
      </div>
      <div class="col">
        <label class="form-label" for="start">Hora de Fin</label>
        <div class="input-group mb-3">
          <input
            name="endTimeHour"
            id="endTimeHour"
            type="number"
            min="0"
            max="23"
            class="form-control"
            placeholder="00"
            aria-label="Username"
            [(ngModel)]="endTimeHour"
          />
          <span class="input-group-text">:</span>
          <input
            name="endTimeMinute"
            id="endTimeMinute"
            type="number"
            min="0"
            max="59"
            class="form-control"
            placeholder="00"
            aria-label="Server"
            [(ngModel)]="endTimeMinute"
          />
        </div>
      </div>
    </div>
  </form>
</div>
