<app-error-modal (close)="toggleErrorModal()" *ngIf="showErrorModal">
  <h1>Error</h1>
  <p>Haz cometido los siguientes errores. Intenta nuevamente.</p>
  <ul>
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>
</app-error-modal>
<form class="container" (ngSubmit)="onSubmit()">
  <h1>Agregar una nueva película</h1>
  <div class="mb-3">
    <label class="form-label" for="name">Titulo</label>
    <input
      class="form-control"
      type="text"
      name="name"
      id="name"
      [(ngModel)]="name"
      placeholder="Titulo de la pelicula"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="description">Descripción</label>
    <input
      name="description"
      class="form-control"
      id="description"
      [(ngModel)]="description"
      placeholder="Descripción de la pelicula"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="image">Imagen</label>
    <input
      type="text"
      class="form-control"
      name="image"
      id="image"
      [(ngModel)]="image"
      placeholder="URL de la imagen"
    />
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <input class="btn btn-primary" type="submit" value="Guardar Pelicula" />
  </div>
</form>
